.box:hover {
  border: 1px solid #f1f1f1;
  /* box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1); */
}

.wrap-editor {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
}

.img-editor {
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  width: 600px;
}

.img-editor-btn {
  border: none;
  padding: 0.3rem;
  margin: 5px;
  background-color: #e1e1e1;
  cursor: pointer;
  width: 45px;
  height: 20px;
  color: #333;
  font-size: 10px;
}

.img-editor-btn:hover {
  background-color: #333;
  color: cornsilk;
  font-weight: bold;
}

.img-info {
  margin-left: 1rem;
  color: #333;
  font-size: 14px;
}

